/* Source: https://jsvine.github.io/nbpreview/css/nbpreview.css
   Modified to meet Reflective Data needs */

.nb-notebook {
    line-height: 1.5;
    padding-left: 66px;
}

.nb-notebook h3 {
    font-size: 1.5rem;
}

.nb-notebook h4 {
    font-size: 1.2rem;
}

.nb-notebook h5 {
    font-size: 1rem;
}

.nb-notebook code {
    border: none;
    background: transparent;
    padding: 0;
}

.nb-notebook pre[class*="language-"],
.nb-notebook pre {
    padding: 10px 12px 14px;
}

.nb-notebook table.dataframe,
.nb-notebook table.dataframe tr {
    font-size: 15px;
}

.nb-stdout, .nb-stderr {
    white-space: pre-wrap;
    margin: 1em 0;
    padding: 0.1em 0.5em;
}

.nb-stderr {
    background-color: #FAA;
}

.nb-cell + .nb-cell {
    margin-top: 1.5em;
}

.nb-input {
    display: none;
}

.show-input-blocks .nb-input {
    display: block;
}

.nb-output table {
    border: 1px solid #000;
    border-collapse: collapse;
}

.nb-output th {
    font-weight: bold;
}

.nb-output th, .nb-output td {
    border: 1px solid #000;
    padding: 0.25em 0.75em;
    text-align: left;
    vertical-align: middle;
    border-collapse: collapse;
}

.nb-cell {
    position: relative;
}

.nb-raw-cell {
    white-space: pre-wrap;
    background-color: #f5f2f0;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    padding: 1em;
    margin: .5em 0;
}

.nb-output {
    min-height: 1em;
    width: 100%;
    overflow-x: auto;
    /*border-right: 1px dotted #CCC;*/
}

.nb-output img {
    max-width: 100%;
}

.nb-output:before, .nb-input:before {
    position: absolute;
    font-family: monospace;
    color: #999;
    left: -7.5em;
    width: 7em;
    text-align: right;
    font-size: 11px;
    font-weight: 700;
}

.nb-input:before {
    content: "In [" attr(data-prompt-number) "]:";
    color: #303F9F;
}
.nb-output:before {
    content: "Out [" attr(data-prompt-number) "]:";
    color: #D84315;
    margin-top: 20px;
}

/* Fix pandas dataframe formatting */
div[style="max-height:1000px;max-width:1500px;overflow:auto;"] {
    max-height: none !important;
}

.nb-cell.nb-markdown-cell ul {
    padding-left: 40px;
}
/* Mobile */
@media (max-width: 767px) {
    .nb-notebook {
        padding-left: 18px;
    }
    .nb-output:before, .nb-input:before {
        left: -7.1em;
        font-size: 8px;
    }
}
